.category-columns-wrapper {
  flex: 1;
}


:global(.ui.three.item.tabular.menu) {
  margin-bottom: 0.25rem;
}

:global(.ui.bottom.attached.active.tab.segment) {
  padding: 0 0 0 0.5rem;
  border-bottom: none;
}

