.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  flex-grow: 1;
  overflow-y: scroll;

  list-style: none;
}

:global(::-webkit-scrollbar) {
  -webkit-appearance: none;
  width: 7px;
}

:global(::-webkit-scrollbar-thumb) {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
